.row {
  margin-top: 50px;
}
.row .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #7e7abc;
}
.row .card-content .card-link {
  font-size: 2em;
}
.row .card-content .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row .card-img-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.card {
  width: min(90%, 600px);
  margin: 0 auto;
  border: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card p {
  color: #6456a6;
}
.card img {
  height: 100%;
}
.card .fa-link {
  color: #22f0c7;
}
.card .fa-github {
  color: #ffe347;
}

body {
  font-family: "roboto", sans-serif;
  padding: 0;
  overflow-x: hidden;
  background: #000;
  margin: 0;
}

#text-bg {
  background: url("../images/brick-bg.jpg");
  background-size: contain;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  border-bottom: 5px solid #ee767a;
  text-shadow: 0 0 7px #ee767a, 0 0 10px #6456a6, 0 0 21px #ee767a, 0 0 42px #ee767a, 0 0 82px #6456a6, 0 0 92px #6456a6, 0 0 102px #6456a6, 0 0 151px #6456a6;
}

#text-bg::before {
  content: "";
  position: absolute;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4596412556) 0%, rgba(0, 0, 0, 0.7847533632) 35%, rgba(0, 0, 0, 0.8946188341) 60%, rgb(0, 0, 0) 100%);
  inset: 0;
}

h1,
#developer-text {
  position: relative;
  z-index: 1;
}

h1 {
  color: #fff;
  text-shadow: 0 0 7px #ee767a, 0 0 10px #6456a6, 0 0 21px #ee767a, 0 0 42px #ee767a, 0 0 82px #6456a6, 0 0 92px #6456a6, 0 0 102px #6456a6, 0 0 151px #6456a6;
  font-size: calc(35px + 65 * (100vw - 300px) / 1300);
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  -webkit-animation: flicker 3s infinite;
          animation: flicker 3s infinite;
  font-family: "proxima-nova-extra-condensed", sans-serif;
}

h2 {
  color: #ee767a;
  font-weight: 900;
  font-size: calc(20px + 10 * (100vw - 300px) / 1300);
}

#developer-text {
  font-size: calc(16px + 29 * (100vw - 300px) / 1300);
  color: #fff;
  text-shadow: 0 0 7px #ee767a, 0 0 10px #6456a6, 0 0 21px #ee767a, 0 0 42px #ee767a, 0 0 82px #6456a6, 0 0 92px #6456a6, 0 0 102px #6456a6, 0 0 151px #6456a6;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}

@-webkit-keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #ee767a, 0 0 11px #6456a6, 0 0 19px #ee767a, 0 0 40px #6456a6, 0 0 80px #6456a6, 0 0 90px #6456a6, 0 0 100px #6456a6, 0 0 150px #6456a6;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #ee767a, 0 0 11px #6456a6, 0 0 19px #ee767a, 0 0 40px #6456a6, 0 0 80px #6456a6, 0 0 90px #6456a6, 0 0 100px #6456a6, 0 0 150px #6456a6;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
@media screen and (min-width: 992px) {
  .row {
    margin-top: 50px;
  }
  .row .card-content .card-link {
    font-size: 2em;
  }
  .row .card-content .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .card {
    width: 90% !important;
    display: flex;
    height: 500px;
  }
  .card img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=styles.css.map */