@import "./partials/variables";

.row {
  margin-top: 50px;
}
.card {
  width: 90% !important;
  margin: 0 auto;
  border-radius: 0;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
body {
  font-family: $secondary-font;
  padding: 0;
  overflow-x: hidden;
  background: #000;
  //   background: linear-gradient(
  //     180deg,
  //     rgba(0, 0, 0, 0.420911528150134) 0%,
  //     rgba(0, 0, 0, 0.6327077747989276) 5%,
  //     rgba(0, 0, 0, 0.8042895442359249) 8%,
  //     rgba(0, 0, 0, 1) 22%,
  //     rgba(0, 0, 0, 1) 78%,
  //     rgba(0, 0, 0, 1) 100%
  //   );
  margin: 0;
}

#text-bg {
  background: url("../images/brick-bg.jpg");
  background-size: contain;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  border-bottom: 5px solid $pink;
  text-shadow: 0 0 7px #ee767a, 0 0 10px #6456a6, 0 0 21px #ee767a,
    0 0 42px #ee767a, 0 0 82px #6456a6, 0 0 92px #6456a6, 0 0 102px #6456a6,
    0 0 151px #6456a6;
}
#text-bg::before {
  content: "";
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.45964125560538116) 0%,
    rgba(0, 0, 0, 0.7847533632286996) 35%,
    rgba(0, 0, 0, 0.8946188340807175) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  inset: 0;
}
h1,
#developer-text {
  position: relative;
  z-index: 1;
}
h1 {
  color: #fff;
  text-shadow: 0 0 7px #ee767a, 0 0 10px #6456a6, 0 0 21px #ee767a,
    0 0 42px #ee767a, 0 0 82px #6456a6, 0 0 92px #6456a6, 0 0 102px #6456a6,
    0 0 151px #6456a6;
  font-size: calc(35px + (100 - 35) * ((100vw - 300px) / (1600 - 300)));
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  animation: flicker 3s infinite;
  font-family: $main-font;
}
h2 {
  color: $pink;
  font-weight: 900;
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
}
#developer-text {
  font-size: calc(16px + (45 - 16) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
  text-shadow: 0 0 7px #ee767a, 0 0 10px #6456a6, 0 0 21px #ee767a,
    0 0 42px #ee767a, 0 0 82px #6456a6, 0 0 92px #6456a6, 0 0 102px #6456a6,
    0 0 151px #6456a6;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #ee767a, 0 0 11px #6456a6, 0 0 19px #ee767a,
      0 0 40px #6456a6, 0 0 80px #6456a6, 0 0 90px #6456a6, 0 0 100px #6456a6,
      0 0 150px #6456a6;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.card-img-top {
  height: 100%;
  margin: 0;
  padding: 0;
}
