#text-bg {
  background: url("../images/brick-bg.jpg");
  background-size: contain;
  padding-bottom: 75px;
  position: relative;
  text-shadow: 0 0 7px #ee767a, 0 0 10px #6456a6, 0 0 21px #ee767a,
    0 0 42px #ee767a, 0 0 82px #6456a6, 0 0 92px #6456a6, 0 0 102px #6456a6,
    0 0 151px #6456a6;
  clip-path: polygon(0% 0%, 100% 0%, 100% 72.55%, 50.25% 100%, 0% 72.55%);
  background-color: #000000;
}
#text-bg::before {
  content: "";
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.8) 25%,
    rgba(0, 0, 0, 0.9) 38%,
    rgba(0, 0, 0, 1) 100%
  );
  inset: 0;
}
h1,
#developer-text {
  position: relative;
  z-index: 1;
}
#neon-box {
  border-radius: 5px;
  position: relative;
  z-index: 5;
  width: 90%;
  margin: 0 auto;
  padding: 50px;
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #ee767a, 0 0 11px #6456a6, 0 0 19px #ee767a,
      0 0 40px #6456a6, 0 0 80px #6456a6, 0 0 90px #6456a6, 0 0 100px #6456a6,
      0 0 150px #6456a6;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
h1 {
  color: #fff;

  font-size: calc(35px + (75 - 35) * ((100vw - 300px) / (1600 - 300)));
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  animation: flicker 3s 1s infinite;
  font-family: $main-font;
}
#developer-text {
  font-size: calc(16px + (45 - 16) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;

  text-align: center;
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
}
